

    <div class="container main-container">
        <div class="row m-5" style="margin:auto">
            <div class="card text-white bg-dark mb-3 tarjeta" *ngFor="let pelicula of peliculas.results;let i=index" style="max-width: 30rem;margin-left:2vh;">
                <img [src]="pelicula|images" alt="">        
                <div class="card-header"style="background-color:black;text-align:center"><h5>{{pelicula.title}}</h5></div>
              </div>
        </div>
    
    
    </div>
   
  